body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.avatar {
  height: 50px;
  border-radius: 25px;
  margin: 10px;
  border: 1px solid black;
}

li {
  list-style-type: none;
  padding: 10px;
  text-decoration: none;
}

nav {
  display: flex;
  justify-content: space-between;
}

nav ul {
  display: flex;
}

.user-list-item {
  padding: 0px;
}

.user-button {
  width: 30%;
}

.container {
  margin: 0px auto;
  text-align: center;
  width: 75%;
}

.nav-user {
  display: flex;
  align-items: center;
}

.logout-btn {
  border-radius: 20px;
  background-color: rgb(169, 60, 60);
  height: 2rem;
  padding: 5px;
  width: 5rem;
  color: white;
  margin: 0px 15px;
}

.nav-link {
  text-decoration: none;
  color: white;
}

nav {
  background-color: cadetblue;
}

.question {
  width: 70%;
    border-radius: 5px;
}